body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../QQ会员立即购买_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:20px;
    top:10px;
    width:338px;
    height:597px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:338px;
    height:597px;
}

.u1 {
    position:absolute;
    left:2px;
    top:290px;
    width:334px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../QQ会员立即购买_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:34px;
    top:58px;
    width:166px;
    height:23px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:172px;
    height:29px;
}

.u3 {
    position:absolute;
    left:2px;
    top:4px;
    width:162px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../QQ会员立即购买_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:20px;
    top:162px;
    width:338px;
    height:34px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:338px;
    height:34px;
}

.u5 {
    position:absolute;
    left:2px;
    top:9px;
    width:334px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../QQ会员立即购买_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:20px;
    top:309px;
    width:338px;
    height:59px;
}

#u6_img {
    position:absolute;
    left:0px;
    top:0px;
    width:338px;
    height:59px;
}

.u7 {
    position:absolute;
    left:2px;
    top:22px;
    width:334px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:28px;
    top:316px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../QQ会员立即购买_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:384px;
    top:21px;
    width:339px;
    height:522px;
}

#u9_img {
    position:absolute;
    left:0px;
    top:0px;
    width:339px;
    height:522px;
}

.u10 {
    position:absolute;
    left:2px;
    top:253px;
    width:335px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../QQ会员立即购买_files/u2_normal.png');
}

.u11_container {
    position:absolute;
    left:396px;
    top:77px;
    width:166px;
    height:23px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:172px;
    height:29px;
}

.u12 {
    position:absolute;
    left:2px;
    top:4px;
    width:162px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../QQ会员立即购买_files/u2_normal.png');
}

.u13_container {
    position:absolute;
    left:396px;
    top:217px;
    width:166px;
    height:23px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:172px;
    height:29px;
}

.u14 {
    position:absolute;
    left:2px;
    top:4px;
    width:162px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../QQ会员立即购买_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:597px;
    top:212px;
    width:117px;
    height:34px;
}

#u15_img {
    position:absolute;
    left:0px;
    top:0px;
    width:117px;
    height:34px;
}

.u16 {
    position:absolute;
    left:2px;
    top:9px;
    width:113px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:16px;
    top:0px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_line {
    background-image: url('../QQ会员立即购买_files/u19_line.png');
}

.u19_line {
    position:absolute;
    left:0px;
    top:4px;
    width:54px;
    height:3px;
}

.u19 {
    position:absolute;
    left:715px;
    top:269px;
    width:54px;
    height:10px;
    
}

.u20 {
    position:absolute;
    left:769px;
    top:240px;
    width:69px;
    height:112px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../QQ会员立即购买_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:387px;
    top:498px;
    width:336px;
    height:41px;
}

#u21_img {
    position:absolute;
    left:0px;
    top:0px;
    width:336px;
    height:41px;
}

.u22 {
    position:absolute;
    left:2px;
    top:12px;
    width:332px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../QQ会员立即购买_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:28px;
    top:18px;
    width:55px;
    height:30px;
}

#u23_img {
    position:absolute;
    left:0px;
    top:0px;
    width:55px;
    height:30px;
}

.u24 {
    position:absolute;
    left:2px;
    top:7px;
    width:51px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../QQ会员立即购买_files/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:849px;
    top:54px;
    width:341px;
    height:508px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:347px;
    height:514px;
}

.u26 {
    position:absolute;
    left:2px;
    top:246px;
    width:337px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../QQ会员立即购买_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:849px;
    top:17px;
    width:341px;
    height:37px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:347px;
    height:43px;
}

.u28 {
    position:absolute;
    left:2px;
    top:10px;
    width:337px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:857px;
    top:25px;
    width:42px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:1115px;
    top:26px;
    width:74px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../QQ会员立即购买_files/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:849px;
    top:54px;
    width:173px;
    height:33px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:179px;
    height:39px;
}

.u32 {
    position:absolute;
    left:2px;
    top:8px;
    width:169px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../QQ会员立即购买_files/u33_normal.png');
}

.u33_container {
    position:absolute;
    left:1022px;
    top:54px;
    width:168px;
    height:33px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:174px;
    height:39px;
}

.u34 {
    position:absolute;
    left:2px;
    top:8px;
    width:164px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../QQ会员立即购买_files/u35_normal.png');
}

.u35_container {
    position:absolute;
    left:1163px;
    top:97px;
    width:26px;
    height:399px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:32px;
    height:405px;
}

.u36 {
    position:absolute;
    left:2px;
    top:4px;
    width:22px;
    height:390px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../QQ会员立即购买_files/u37_normal.png');
}

.u37_container {
    position:absolute;
    left:854px;
    top:94px;
    width:97px;
    height:28px;
}

#u37_img {
    position:absolute;
    left:0px;
    top:0px;
    width:97px;
    height:28px;
}

.u38 {
    position:absolute;
    left:2px;
    top:6px;
    width:93px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../QQ会员立即购买_files/u39_normal.png');
}

.u39_container {
    position:absolute;
    left:850px;
    top:128px;
    width:116px;
    height:28px;
}

#u39_img {
    position:absolute;
    left:0px;
    top:0px;
    width:116px;
    height:28px;
}

.u40 {
    position:absolute;
    left:2px;
    top:6px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../QQ会员立即购买_files/u41_normal.png');
}

.u41_container {
    position:absolute;
    left:856px;
    top:156px;
    width:116px;
    height:31px;
}

#u41_img {
    position:absolute;
    left:0px;
    top:0px;
    width:116px;
    height:31px;
}

.u42 {
    position:absolute;
    left:2px;
    top:8px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../QQ会员立即购买_files/u43_normal.png');
}

.u43_container {
    position:absolute;
    left:854px;
    top:189px;
    width:113px;
    height:29px;
}

#u43_img {
    position:absolute;
    left:0px;
    top:0px;
    width:113px;
    height:29px;
}

.u44 {
    position:absolute;
    left:2px;
    top:6px;
    width:109px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../QQ会员立即购买_files/u45_normal.png');
}

.u45_container {
    position:absolute;
    left:856px;
    top:218px;
    width:82px;
    height:32px;
}

#u45_img {
    position:absolute;
    left:0px;
    top:0px;
    width:82px;
    height:32px;
}

.u46 {
    position:absolute;
    left:2px;
    top:8px;
    width:78px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../QQ会员立即购买_files/u47_normal.png');
}

.u47_container {
    position:absolute;
    left:854px;
    top:250px;
    width:118px;
    height:29px;
}

#u47_img {
    position:absolute;
    left:0px;
    top:0px;
    width:118px;
    height:29px;
}

.u48 {
    position:absolute;
    left:2px;
    top:6px;
    width:114px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../QQ会员立即购买_files/u25_normal.png');
}

.u49_container {
    position:absolute;
    left:1359px;
    top:54px;
    width:341px;
    height:508px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:347px;
    height:514px;
}

.u50 {
    position:absolute;
    left:2px;
    top:246px;
    width:337px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../QQ会员立即购买_files/u27_normal.png');
}

.u51_container {
    position:absolute;
    left:1359px;
    top:17px;
    width:341px;
    height:37px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:347px;
    height:43px;
}

.u52 {
    position:absolute;
    left:2px;
    top:10px;
    width:337px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:1365px;
    top:25px;
    width:42px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:1581px;
    top:26px;
    width:120px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:1365px;
    top:64px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u56 {
    position:absolute;
    left:1001px;
    top:572px;
    width:332px;
    height:143px;
    overflow:hidden;
}

#pd0u56 {
    position:absolute;
    left:0px;
    top:0px;
    width:332px;
    height:143px;
    
}

.u57_normal {
    background-image: url('../QQ会员立即购买_files/u57_normal.png');
}

.u57_container {
    position:absolute;
    left:0px;
    top:0px;
    width:331px;
    height:142px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:337px;
    height:148px;
}

.u58 {
    position:absolute;
    left:2px;
    top:63px;
    width:327px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_line {
    background-image: url('../QQ会员立即购买_files/u59_line.png');
}

.u59_line {
    position:absolute;
    left:0px;
    top:4px;
    width:331px;
    height:3px;
}

.u59 {
    position:absolute;
    left:0px;
    top:29px;
    width:331px;
    height:10px;
    
}

.u60 {
    position:absolute;
    left:13px;
    top:13px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:13px;
    top:49px;
    width:150px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_normal {
    background-image: url('../QQ会员立即购买_files/u62_normal.png');
}

.u62_container {
    position:absolute;
    left:1365px;
    top:90px;
    width:328px;
    height:193px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:334px;
    height:199px;
}

.u63 {
    position:absolute;
    left:2px;
    top:88px;
    width:324px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:16px;
    top:0px;
    width:111px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66 {
    position:absolute;
    left:1375px;
    top:311px;
    width:302px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u67 {
    position:absolute;
    left:1365px;
    top:339px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68 {
    position:absolute;
    left:1365px;
    top:359px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_line {
    background-image: url('../QQ会员立即购买_files/u69_line.png');
}

.u69_line {
    position:absolute;
    left:0px;
    top:4px;
    width:255px;
    height:3px;
}

.u69 {
    position:absolute;
    left:1399px;
    top:121px;
    width:255px;
    height:10px;
    
}

.u70 {
    position:absolute;
    left:1399px;
    top:105px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_line {
    background-image: url('../QQ会员立即购买_files/u71_line.png');
}

.u71_line {
    position:absolute;
    left:0px;
    top:4px;
    width:255px;
    height:3px;
}

.u71 {
    position:absolute;
    left:1400px;
    top:157px;
    width:255px;
    height:10px;
    
}

.u72 {
    position:absolute;
    left:1400px;
    top:141px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_line {
    background-image: url('../QQ会员立即购买_files/u73_line.png');
}

.u73_line {
    position:absolute;
    left:0px;
    top:4px;
    width:255px;
    height:3px;
}

.u73 {
    position:absolute;
    left:1399px;
    top:194px;
    width:255px;
    height:10px;
    
}

.u74 {
    position:absolute;
    left:1399px;
    top:178px;
    width:211px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_line {
    background-image: url('../QQ会员立即购买_files/u75_line.png');
}

.u75_line {
    position:absolute;
    left:0px;
    top:4px;
    width:255px;
    height:3px;
}

.u75 {
    position:absolute;
    left:1399px;
    top:234px;
    width:255px;
    height:10px;
    
}

.u76 {
    position:absolute;
    left:1399px;
    top:218px;
    width:211px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../QQ会员立即购买_files/u77_normal.png');
}

.u77_container {
    position:absolute;
    left:1359px;
    top:385px;
    width:341px;
    height:177px;
}

#u77_img {
    position:absolute;
    left:0px;
    top:0px;
    width:341px;
    height:177px;
}

.u78 {
    position:absolute;
    left:2px;
    top:80px;
    width:337px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_normal {
    background-image: url('../QQ会员立即购买_files/u25_normal.png');
}

.u79_container {
    position:absolute;
    left:1721px;
    top:54px;
    width:341px;
    height:508px;
}

#u79_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:347px;
    height:514px;
}

.u80 {
    position:absolute;
    left:2px;
    top:246px;
    width:337px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_normal {
    background-image: url('../QQ会员立即购买_files/u27_normal.png');
}

.u81_container {
    position:absolute;
    left:1721px;
    top:17px;
    width:341px;
    height:37px;
}

#u81_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:347px;
    height:43px;
}

.u82 {
    position:absolute;
    left:2px;
    top:10px;
    width:337px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83 {
    position:absolute;
    left:1727px;
    top:25px;
    width:42px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84 {
    position:absolute;
    left:1943px;
    top:26px;
    width:120px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85 {
    position:absolute;
    left:1727px;
    top:64px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86_normal {
    background-image: url('../QQ会员立即购买_files/u86_normal.png');
}

.u86_container {
    position:absolute;
    left:1727px;
    top:90px;
    width:328px;
    height:215px;
}

#u86_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:334px;
    height:221px;
}

.u87 {
    position:absolute;
    left:2px;
    top:100px;
    width:324px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89 {
    position:absolute;
    left:16px;
    top:0px;
    width:111px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90 {
    position:absolute;
    left:1737px;
    top:327px;
    width:302px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u91 {
    position:absolute;
    left:1727px;
    top:359px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92_line {
    background-image: url('../QQ会员立即购买_files/u92_line.png');
}

.u92_line {
    position:absolute;
    left:0px;
    top:4px;
    width:255px;
    height:3px;
}

.u92 {
    position:absolute;
    left:1762px;
    top:121px;
    width:255px;
    height:10px;
    
}

.u93 {
    position:absolute;
    left:1762px;
    top:105px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94_line {
    background-image: url('../QQ会员立即购买_files/u94_line.png');
}

.u94_line {
    position:absolute;
    left:0px;
    top:4px;
    width:255px;
    height:3px;
}

.u94 {
    position:absolute;
    left:1763px;
    top:157px;
    width:255px;
    height:10px;
    
}

.u95 {
    position:absolute;
    left:1763px;
    top:141px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96_line {
    background-image: url('../QQ会员立即购买_files/u96_line.png');
}

.u96_line {
    position:absolute;
    left:0px;
    top:4px;
    width:255px;
    height:3px;
}

.u96 {
    position:absolute;
    left:1762px;
    top:223px;
    width:255px;
    height:10px;
    
}

.u97 {
    position:absolute;
    left:1762px;
    top:207px;
    width:211px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98_line {
    background-image: url('../QQ会员立即购买_files/u98_line.png');
}

.u98_line {
    position:absolute;
    left:0px;
    top:4px;
    width:255px;
    height:3px;
}

.u98 {
    position:absolute;
    left:1762px;
    top:263px;
    width:255px;
    height:10px;
    
}

.u99 {
    position:absolute;
    left:1762px;
    top:247px;
    width:211px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100_normal {
    background-image: url('../QQ会员立即购买_files/u77_normal.png');
}

.u100_container {
    position:absolute;
    left:1721px;
    top:385px;
    width:341px;
    height:177px;
}

#u100_img {
    position:absolute;
    left:0px;
    top:0px;
    width:341px;
    height:177px;
}

.u101 {
    position:absolute;
    left:2px;
    top:80px;
    width:337px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102 {
    position:absolute;
    left:1762px;
    top:181px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103_end {
    background-image: url('../QQ会员立即购买_files/u103_end.png');
}

.u103_end {
    position:absolute;
    left:125px;
    top:-5px;
    width:14px;
    height:20px;
}

.u103_line {
    background-image: url('../QQ会员立即购买_files/u103_line.png');
}

.u103_line {
    position:absolute;
    left:0px;
    top:4px;
    width:134px;
    height:3px;
}

.u103 {
    position:absolute;
    left:704px;
    top:376px;
    width:134px;
    height:10px;
    
}

.u104 {
    position:absolute;
    left:723px;
    top:386px;
    width:100px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105_end {
    background-image: url('../QQ会员立即购买_files/u105_end.png');
}

.u105_end {
    position:absolute;
    left:231px;
    top:-5px;
    width:14px;
    height:20px;
}

.u105_line {
    background-image: url('../QQ会员立即购买_files/u105_line.png');
}

.u105_line {
    position:absolute;
    left:0px;
    top:4px;
    width:240px;
    height:3px;
}

.u105 {
    position:absolute;
    left:1115px;
    top:103px;
    width:240px;
    height:10px;
    
}

.u106 {
    position:absolute;
    left:1199px;
    top:113px;
    width:150px;
    height:128px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107 {
    position:absolute;
    left:1399px;
    top:254px;
    width:117px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#CCCCCC;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u108 {
    position:absolute;
    left:1554px;
    top:254px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u109 {
    position:absolute;
    left:1762px;
    top:277px;
    width:117px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#CCCCCC;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u110 {
    position:absolute;
    left:1917px;
    top:277px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u111_normal {
    background-image: url('../QQ会员立即购买_files/u25_normal.png');
}

.u111_container {
    position:absolute;
    left:387px;
    top:572px;
    width:341px;
    height:508px;
}

#u111_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:347px;
    height:514px;
}

.u112 {
    position:absolute;
    left:2px;
    top:246px;
    width:337px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113 {
    position:absolute;
    left:443px;
    top:607px;
    width:223px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114 {
    position:absolute;
    left:522px;
    top:645px;
    width:66px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115_line {
    background-image: url('../QQ会员立即购买_files/u115_line.png');
}

.u115_line {
    position:absolute;
    left:0px;
    top:4px;
    width:341px;
    height:3px;
}

.u115 {
    position:absolute;
    left:387px;
    top:669px;
    width:341px;
    height:10px;
    
}

.u116 {
    position:absolute;
    left:441px;
    top:689px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117 {
    position:absolute;
    left:557px;
    top:689px;
    width:57px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118 {
    position:absolute;
    left:441px;
    top:723px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119 {
    position:absolute;
    left:552px;
    top:723px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120 {
    position:absolute;
    left:463px;
    top:770px;
    width:199px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u121 {
    position:absolute;
    left:422px;
    top:1049px;
    width:279px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122_end {
    background-image: url('../QQ会员立即购买_files/u122_end.png');
}

.u122_end {
    position:absolute;
    left:-5px;
    top:84px;
    width:20px;
    height:14px;
}

.u122_line {
    background-image: url('../QQ会员立即购买_files/u122_line.png');
}

.u122_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:93px;
}

.u122 {
    position:absolute;
    left:692px;
    top:479px;
    width:10px;
    height:93px;
    
}

.u123 {
    position:absolute;
    left:738px;
    top:546px;
    width:111px;
    height:160px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124_line {
    background-image: url('../QQ会员立即购买_files/u124_line.png');
}

.u124_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:240px;
}

.u124 {
    position:absolute;
    left:305px;
    top:407px;
    width:10px;
    height:240px;
    
}

.u125 {
    position:absolute;
    left:235px;
    top:647px;
    width:150px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

