body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../使用帮助_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:39px;
    top:9px;
    width:341px;
    height:540px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:347px;
    height:546px;
}

.u1 {
    position:absolute;
    left:2px;
    top:262px;
    width:337px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../使用帮助_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:39px;
    top:9px;
    width:341px;
    height:37px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:347px;
    height:43px;
}

.u3 {
    position:absolute;
    left:2px;
    top:10px;
    width:337px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:49px;
    top:18px;
    width:54px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../使用帮助_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:295px;
    top:10px;
    width:84px;
    height:36px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:42px;
}

.u6 {
    position:absolute;
    left:2px;
    top:8px;
    width:80px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../使用帮助_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:215px;
    top:46px;
    width:165px;
    height:33px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:39px;
}

.u8 {
    position:absolute;
    left:2px;
    top:8px;
    width:161px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../使用帮助_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:39px;
    top:46px;
    width:176px;
    height:33px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:182px;
    height:39px;
}

.u10 {
    position:absolute;
    left:2px;
    top:8px;
    width:172px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u11 {
    position:absolute;
    left:51px;
    top:89px;
    width:318px;
    height:225px;
    overflow:hidden;
}

#pd0u11 {
    position:absolute;
    left:0px;
    top:0px;
    width:318px;
    height:225px;
    
}

.u12 {
    position:absolute;
    left:0px;
    top:0px;
    width:317px;
    height:224px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u13 {
    position:absolute;
    left:378px;
    top:128px;
    width:341px;
    height:65px;
    overflow:hidden;
}

#pd0u13 {
    position:absolute;
    left:0px;
    top:0px;
    width:341px;
    height:65px;
    
}

.u14 {
    position:absolute;
    left:0px;
    top:0px;
    width:340px;
    height:64px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u15 {
    position:absolute;
    left:39px;
    top:79px;
    width:342px;
    height:471px;
    overflow:hidden;
}

#pd0u15 {
    position:absolute;
    left:0px;
    top:0px;
    width:342px;
    height:471px;
    
}

.u16_normal {
    background-image: url('../使用帮助_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:0px;
    top:0px;
    width:341px;
    height:470px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:347px;
    height:476px;
}

.u17 {
    position:absolute;
    left:2px;
    top:227px;
    width:337px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../使用帮助_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:1px;
    top:13px;
    width:340px;
    height:33px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:346px;
    height:39px;
}

.u19 {
    position:absolute;
    left:2px;
    top:8px;
    width:336px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../使用帮助_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:316px;
    top:19px;
    width:18px;
    height:21px;
}

#u20_img {
    position:absolute;
    left:0px;
    top:0px;
    width:18px;
    height:21px;
}

.u21 {
    position:absolute;
    left:2px;
    top:2px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../使用帮助_files/u18_normal.png');
}

.u22_container {
    position:absolute;
    left:1px;
    top:64px;
    width:340px;
    height:33px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:346px;
    height:39px;
}

.u23 {
    position:absolute;
    left:2px;
    top:8px;
    width:336px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../使用帮助_files/u20_normal.png');
}

.u24_container {
    position:absolute;
    left:316px;
    top:70px;
    width:18px;
    height:21px;
}

#u24_img {
    position:absolute;
    left:0px;
    top:0px;
    width:18px;
    height:21px;
}

.u25 {
    position:absolute;
    left:2px;
    top:2px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../使用帮助_files/u18_normal.png');
}

.u26_container {
    position:absolute;
    left:1px;
    top:117px;
    width:340px;
    height:33px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:346px;
    height:39px;
}

.u27 {
    position:absolute;
    left:2px;
    top:8px;
    width:336px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../使用帮助_files/u20_normal.png');
}

.u28_container {
    position:absolute;
    left:316px;
    top:123px;
    width:18px;
    height:21px;
}

#u28_img {
    position:absolute;
    left:0px;
    top:0px;
    width:18px;
    height:21px;
}

.u29 {
    position:absolute;
    left:2px;
    top:2px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u30 {
    position:absolute;
    left:378px;
    top:204px;
    width:341px;
    height:97px;
    overflow:hidden;
}

#pd0u30 {
    position:absolute;
    left:0px;
    top:0px;
    width:341px;
    height:97px;
    
}

.u31 {
    position:absolute;
    left:0px;
    top:0px;
    width:340px;
    height:96px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u32 {
    position:absolute;
    left:39px;
    top:233px;
    width:341px;
    height:81px;
    overflow:hidden;
}

#pd0u32 {
    position:absolute;
    left:0px;
    top:0px;
    width:341px;
    height:81px;
    
}

.u33 {
    position:absolute;
    left:0px;
    top:0px;
    width:340px;
    height:80px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

