body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../换绑手机下一步_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:39px;
    top:9px;
    width:341px;
    height:540px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:347px;
    height:546px;
}

.u1 {
    position:absolute;
    left:2px;
    top:262px;
    width:337px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../换绑手机下一步_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:39px;
    top:9px;
    width:341px;
    height:37px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:347px;
    height:43px;
}

.u3 {
    position:absolute;
    left:2px;
    top:10px;
    width:337px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:49px;
    top:18px;
    width:54px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../换绑手机下一步_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:284px;
    top:10px;
    width:95px;
    height:36px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:101px;
    height:42px;
}

.u6 {
    position:absolute;
    left:2px;
    top:8px;
    width:91px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:49px;
    top:56px;
    width:321px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:56px;
    top:176px;
    width:287px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u9 {
    position:absolute;
    left:45px;
    top:56px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_line {
    background-image: url('../换绑手机下一步_files/u10_line.png');
}

.u10_line {
    position:absolute;
    left:0px;
    top:4px;
    width:325px;
    height:3px;
}

.u10 {
    position:absolute;
    left:45px;
    top:98px;
    width:325px;
    height:10px;
    
}

.u11 {
    position:absolute;
    left:45px;
    top:82px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_line {
    background-image: url('../换绑手机下一步_files/u12_line.png');
}

.u12_line {
    position:absolute;
    left:0px;
    top:4px;
    width:235px;
    height:3px;
}

.u12 {
    position:absolute;
    left:45px;
    top:126px;
    width:235px;
    height:10px;
    
}

.u13 {
    position:absolute;
    left:45px;
    top:110px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:282px;
    top:108px;
    width:88px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u15 {
    position:absolute;
    left:45px;
    top:143px;
    width:325px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

