body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../关于我们_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:39px;
    top:9px;
    width:341px;
    height:540px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:347px;
    height:546px;
}

.u1 {
    position:absolute;
    left:2px;
    top:262px;
    width:337px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../关于我们_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:39px;
    top:9px;
    width:341px;
    height:37px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:347px;
    height:43px;
}

.u3 {
    position:absolute;
    left:2px;
    top:10px;
    width:337px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:49px;
    top:18px;
    width:54px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../关于我们_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:295px;
    top:10px;
    width:84px;
    height:36px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:42px;
}

.u6 {
    position:absolute;
    left:2px;
    top:8px;
    width:80px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:458px;
    top:89px;
    width:317px;
    height:128px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../关于我们_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:142px;
    top:90px;
    width:123px;
    height:101px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:129px;
    height:107px;
}

.u9 {
    position:absolute;
    left:2px;
    top:42px;
    width:119px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:110px;
    top:201px;
    width:190px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../关于我们_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:154px;
    top:253px;
    width:102px;
    height:101px;
}

#u11_img {
    position:absolute;
    left:0px;
    top:0px;
    width:102px;
    height:101px;
}

.u12 {
    position:absolute;
    left:2px;
    top:42px;
    width:98px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:160px;
    top:364px;
    width:88px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../关于我们_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:49px;
    top:440px;
    width:321px;
    height:80px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:327px;
    height:86px;
}

.u15 {
    position:absolute;
    left:2px;
    top:16px;
    width:317px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

