body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../订单_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:10px;
    top:12px;
    width:338px;
    height:600px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:338px;
    height:600px;
}

.u1 {
    position:absolute;
    left:2px;
    top:292px;
    width:334px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../订单_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:368px;
    top:13px;
    width:356px;
    height:717px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:356px;
    height:717px;
}

.u3 {
    position:absolute;
    left:2px;
    top:350px;
    width:352px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../订单_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:724px;
    top:14px;
    width:340px;
    height:714px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:340px;
    height:714px;
}

.u5 {
    position:absolute;
    left:2px;
    top:349px;
    width:336px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../订单_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:1074px;
    top:14px;
    width:356px;
    height:591px;
}

#u6_img {
    position:absolute;
    left:0px;
    top:0px;
    width:356px;
    height:591px;
}

.u7 {
    position:absolute;
    left:2px;
    top:288px;
    width:352px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../订单_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:1165px;
    top:20px;
    width:180px;
    height:33px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:39px;
}

.u9 {
    position:absolute;
    left:2px;
    top:7px;
    width:176px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../订单_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:1423px;
    top:16px;
    width:340px;
    height:589px;
}

#u10_img {
    position:absolute;
    left:0px;
    top:0px;
    width:340px;
    height:589px;
}

.u11 {
    position:absolute;
    left:2px;
    top:286px;
    width:336px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../订单_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:1780px;
    top:19px;
    width:356px;
    height:714px;
}

#u12_img {
    position:absolute;
    left:0px;
    top:0px;
    width:356px;
    height:714px;
}

.u13 {
    position:absolute;
    left:2px;
    top:349px;
    width:352px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../订单_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:2136px;
    top:19px;
    width:338px;
    height:595px;
}

#u14_img {
    position:absolute;
    left:0px;
    top:0px;
    width:338px;
    height:595px;
}

.u15 {
    position:absolute;
    left:2px;
    top:290px;
    width:334px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../订单_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:2492px;
    top:21px;
    width:356px;
    height:591px;
}

#u16_img {
    position:absolute;
    left:0px;
    top:0px;
    width:356px;
    height:591px;
}

.u17 {
    position:absolute;
    left:2px;
    top:288px;
    width:352px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../订单_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:2492px;
    top:622px;
    width:314px;
    height:105px;
}

#u18_img {
    position:absolute;
    left:0px;
    top:0px;
    width:314px;
    height:105px;
}

.u19 {
    position:absolute;
    left:2px;
    top:44px;
    width:310px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../订单_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:17px;
    top:53px;
    width:324px;
    height:35px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:330px;
    height:41px;
}

.u21 {
    position:absolute;
    left:2px;
    top:10px;
    width:320px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../订单_files/u22_normal.png');
}

.u22_container {
    position:absolute;
    left:17px;
    top:16px;
    width:52px;
    height:28px;
}

#u22_img {
    position:absolute;
    left:0px;
    top:0px;
    width:52px;
    height:28px;
}

.u23 {
    position:absolute;
    left:2px;
    top:6px;
    width:48px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../订单_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:2047px;
    top:161px;
    width:69px;
    height:36px;
}

#u24_img {
    position:absolute;
    left:0px;
    top:0px;
    width:69px;
    height:36px;
}

.u25 {
    position:absolute;
    left:2px;
    top:10px;
    width:65px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../订单_files/u24_normal.png');
}

.u26_container {
    position:absolute;
    left:2047px;
    top:340px;
    width:69px;
    height:36px;
}

#u26_img {
    position:absolute;
    left:0px;
    top:0px;
    width:69px;
    height:36px;
}

.u27 {
    position:absolute;
    left:2px;
    top:10px;
    width:65px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../订单_files/u28_normal.png');
}

.u28_container {
    position:absolute;
    left:490px;
    top:336px;
    width:68px;
    height:39px;
}

#u28_img {
    position:absolute;
    left:0px;
    top:0px;
    width:68px;
    height:39px;
}

.u29 {
    position:absolute;
    left:2px;
    top:12px;
    width:64px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../订单_files/u30_normal.png');
}

.u30_container {
    position:absolute;
    left:2846px;
    top:20px;
    width:344px;
    height:595px;
}

#u30_img {
    position:absolute;
    left:0px;
    top:0px;
    width:344px;
    height:595px;
}

.u31 {
    position:absolute;
    left:2px;
    top:290px;
    width:340px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../订单_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:149px;
    top:180px;
    width:70px;
    height:17px;
}

#u32_img {
    position:absolute;
    left:0px;
    top:0px;
    width:70px;
    height:17px;
}

.u33 {
    position:absolute;
    left:2px;
    top:0px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:153px;
    top:181px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../订单_files/u35_normal.png');
}

.u35_container {
    position:absolute;
    left:1269px;
    top:329px;
    width:76px;
    height:46px;
}

#u35_img {
    position:absolute;
    left:0px;
    top:0px;
    width:76px;
    height:46px;
}

.u36 {
    position:absolute;
    left:2px;
    top:15px;
    width:72px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../订单_files/u37_normal.png');
}

.u37_container {
    position:absolute;
    left:1262px;
    top:155px;
    width:76px;
    height:42px;
}

#u37_img {
    position:absolute;
    left:0px;
    top:0px;
    width:76px;
    height:42px;
}

.u38 {
    position:absolute;
    left:2px;
    top:13px;
    width:72px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../订单_files/u39_normal.png');
}

.u39_container {
    position:absolute;
    left:734px;
    top:506px;
    width:145px;
    height:41px;
}

#u39_img {
    position:absolute;
    left:0px;
    top:0px;
    width:145px;
    height:41px;
}

.u40 {
    position:absolute;
    left:2px;
    top:12px;
    width:141px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../订单_files/u39_normal.png');
}

.u41_container {
    position:absolute;
    left:734px;
    top:399px;
    width:145px;
    height:41px;
}

#u41_img {
    position:absolute;
    left:0px;
    top:0px;
    width:145px;
    height:41px;
}

.u42 {
    position:absolute;
    left:2px;
    top:12px;
    width:141px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:734px;
    top:405px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../订单_files/u39_normal.png');
}

.u44_container {
    position:absolute;
    left:1429px;
    top:340px;
    width:145px;
    height:41px;
}

#u44_img {
    position:absolute;
    left:0px;
    top:0px;
    width:145px;
    height:41px;
}

.u45 {
    position:absolute;
    left:2px;
    top:12px;
    width:141px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:1432px;
    top:352px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../订单_files/u39_normal.png');
}

.u47_container {
    position:absolute;
    left:1430px;
    top:451px;
    width:145px;
    height:41px;
}

#u47_img {
    position:absolute;
    left:0px;
    top:0px;
    width:145px;
    height:41px;
}

.u48 {
    position:absolute;
    left:2px;
    top:12px;
    width:141px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../订单_files/u49_normal.png');
}

.u49_container {
    position:absolute;
    left:1900px;
    top:28px;
    width:108px;
    height:27px;
}

#u49_img {
    position:absolute;
    left:0px;
    top:0px;
    width:108px;
    height:27px;
}

.u50 {
    position:absolute;
    left:2px;
    top:6px;
    width:104px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:1900px;
    top:34px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../订单_files/u52_normal.png');
}

.u52_container {
    position:absolute;
    left:1864px;
    top:574px;
    width:179px;
    height:31px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:185px;
    height:37px;
}

.u53 {
    position:absolute;
    left:2px;
    top:6px;
    width:175px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_normal {
    background-image: url('../订单_files/u54_normal.png');
}

.u54_container {
    position:absolute;
    left:2086px;
    top:622px;
    width:30px;
    height:16px;
}

#u54_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:16px;
}

.u55 {
    position:absolute;
    left:2px;
    top:0px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:2086px;
    top:620px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../订单_files/u39_normal.png');
}

.u57_container {
    position:absolute;
    left:2146px;
    top:405px;
    width:145px;
    height:41px;
}

#u57_img {
    position:absolute;
    left:0px;
    top:0px;
    width:145px;
    height:41px;
}

.u58 {
    position:absolute;
    left:2px;
    top:12px;
    width:141px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59 {
    position:absolute;
    left:2146px;
    top:411px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60_normal {
    background-image: url('../订单_files/u39_normal.png');
}

.u60_container {
    position:absolute;
    left:2142px;
    top:511px;
    width:145px;
    height:41px;
}

#u60_img {
    position:absolute;
    left:0px;
    top:0px;
    width:145px;
    height:41px;
}

.u61 {
    position:absolute;
    left:2px;
    top:12px;
    width:141px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_normal {
    background-image: url('../订单_files/u62_normal.png');
}

.u62_container {
    position:absolute;
    left:2163px;
    top:93px;
    width:281px;
    height:50px;
}

#u62_img {
    position:absolute;
    left:0px;
    top:0px;
    width:281px;
    height:50px;
}

.u63 {
    position:absolute;
    left:2px;
    top:17px;
    width:277px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64 {
    position:absolute;
    left:2196px;
    top:110px;
    width:244px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../订单_files/u39_normal.png');
}

.u65_container {
    position:absolute;
    left:2858px;
    top:511px;
    width:145px;
    height:41px;
}

#u65_img {
    position:absolute;
    left:0px;
    top:0px;
    width:145px;
    height:41px;
}

.u66 {
    position:absolute;
    left:2px;
    top:12px;
    width:141px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../订单_files/u39_normal.png');
}

.u67_container {
    position:absolute;
    left:2858px;
    top:402px;
    width:145px;
    height:41px;
}

#u67_img {
    position:absolute;
    left:0px;
    top:0px;
    width:145px;
    height:41px;
}

.u68 {
    position:absolute;
    left:2px;
    top:12px;
    width:141px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:2858px;
    top:408px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70_normal {
    background-image: url('../订单_files/u70_normal.png');
}

.u70_container {
    position:absolute;
    left:245px;
    top:181px;
    width:66px;
    height:15px;
}

#u70_img {
    position:absolute;
    left:0px;
    top:0px;
    width:66px;
    height:15px;
}

.u71 {
    position:absolute;
    left:2px;
    top:0px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72 {
    position:absolute;
    left:249px;
    top:181px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_normal {
    background-image: url('../订单_files/u73_normal.png');
}

.u73_container {
    position:absolute;
    left:153px;
    top:216px;
    width:66px;
    height:60px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:66px;
}

.u74 {
    position:absolute;
    left:2px;
    top:22px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75 {
    position:absolute;
    left:149px;
    top:286px;
    width:85px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76_normal {
    background-image: url('../订单_files/u76_normal.png');
}

.u76_container {
    position:absolute;
    left:198px;
    top:520px;
    width:49px;
    height:27px;
}

#u76_img {
    position:absolute;
    left:0px;
    top:0px;
    width:49px;
    height:27px;
}

.u77 {
    position:absolute;
    left:2px;
    top:6px;
    width:45px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78_normal {
    background-image: url('../订单_files/u76_normal.png');
}

.u78_container {
    position:absolute;
    left:559px;
    top:525px;
    width:49px;
    height:27px;
}

#u78_img {
    position:absolute;
    left:0px;
    top:0px;
    width:49px;
    height:27px;
}

.u79 {
    position:absolute;
    left:2px;
    top:6px;
    width:45px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80_normal {
    background-image: url('../订单_files/u76_normal.png');
}

.u80_container {
    position:absolute;
    left:1262px;
    top:525px;
    width:49px;
    height:27px;
}

#u80_img {
    position:absolute;
    left:0px;
    top:0px;
    width:49px;
    height:27px;
}

.u81 {
    position:absolute;
    left:2px;
    top:6px;
    width:45px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82 {
    position:absolute;
    left:197px;
    top:525px;
    width:72px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83 {
    position:absolute;
    left:548px;
    top:529px;
    width:72px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84 {
    position:absolute;
    left:1262px;
    top:529px;
    width:72px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85_normal {
    background-image: url('../订单_files/u85_normal.png');
}

.u85_container {
    position:absolute;
    left:1970px;
    top:527px;
    width:49px;
    height:31px;
}

#u85_img {
    position:absolute;
    left:0px;
    top:0px;
    width:49px;
    height:31px;
}

.u86 {
    position:absolute;
    left:2px;
    top:8px;
    width:45px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87 {
    position:absolute;
    left:1970px;
    top:533px;
    width:72px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88_normal {
    background-image: url('../订单_files/u88_normal.png');
}

.u88_container {
    position:absolute;
    left:2683px;
    top:533px;
    width:51px;
    height:31px;
}

#u88_img {
    position:absolute;
    left:0px;
    top:0px;
    width:51px;
    height:31px;
}

.u89 {
    position:absolute;
    left:2px;
    top:8px;
    width:47px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90 {
    position:absolute;
    left:2672px;
    top:537px;
    width:72px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91_normal {
    background-image: url('../订单_files/u91_normal.png');
}

.u91_container {
    position:absolute;
    left:368px;
    top:826px;
    width:340px;
    height:596px;
}

#u91_img {
    position:absolute;
    left:0px;
    top:0px;
    width:340px;
    height:596px;
}

.u92 {
    position:absolute;
    left:2px;
    top:290px;
    width:336px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_normal {
    background-image: url('../订单_files/u93_normal.png');
}

.u93_container {
    position:absolute;
    left:368px;
    top:1381px;
    width:340px;
    height:41px;
}

#u93_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:346px;
    height:47px;
}

.u94 {
    position:absolute;
    left:2px;
    top:12px;
    width:336px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95_end {
    background-image: url('../订单_files/u95_end.png');
}

.u95_end {
    position:absolute;
    left:-5px;
    top:465px;
    width:20px;
    height:14px;
}

.u95_line {
    background-image: url('../订单_files/u95_line.png');
}

.u95_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:474px;
}

.u95 {
    position:absolute;
    left:534px;
    top:352px;
    width:10px;
    height:474px;
    
}

.u96 {
    position:absolute;
    left:540px;
    top:776px;
    width:443px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97_end {
    background-image: url('../订单_files/u97_end.png');
}

.u97_end {
    position:absolute;
    left:-5px;
    top:402px;
    width:20px;
    height:14px;
}

.u97_line {
    background-image: url('../订单_files/u97_line.png');
}

.u97_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:411px;
}

.u97 {
    position:absolute;
    left:2086px;
    top:356px;
    width:10px;
    height:411px;
    
}

.u98 {
    position:absolute;
    left:2069px;
    top:767px;
    width:242px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

